.aside-article

	h2
		font-size: 16px

	p
		margin-bottom: 30px

	.btn,
	.btn:hover
		width: 50%
		+tablet
			width: 100%

	.wrap
		padding: 35px 40px
		border-bottom: 1px solid #ededed
		+desktop
			padding: 30px

		&:last-child
			border-bottom: 0

	.banner-wrap
		a
			display: block
			
		+desktop
			text-align: center

			img
				display: inline-block