.gallery-photos
	display: table
	width: 100%
	
.gallery-photos--item
	display: inline-block
	float: left
	height: 200px
	width: 48%
	margin-right: 4%
	margin-bottom: 4%
	position: relative
	
	+medium-mobile
		width: 100%
		margin-right: 0
		height: 275px

	&:nth-child(2n)
		margin-right: 0

	img
		width: 100%
		height: 100%

	.color-overlay
		opacity: 0
	
	&:hover
		.color-overlay
			opacity: 1

.gallery-photos--item.three-columns
	width: 30.666%
	margin-right: 4%
	+mobile
		width: 48%
		margin-right: 4% !important
	+medium-mobile
		width: 100%
		margin-right: 0 !important
		height: 250px


	&:nth-child(2n)
		margin-right: 4%
		+mobile
			margin-right: 0 !important

	&:nth-child(3n)
		margin-right: 0

.gallery-photos--item.four-columns
	width: 22%
	margin-right: 4%
	+desktop
		width: 48%
		margin-right: 4%

		&:nth-child(2n)
			margin-right: 0 !important

	+mobile
		width: 100%
		margin-right: 0 !important

	&:nth-child(2n)
		margin-right: 4%

	&:nth-child(4n)
		margin-right: 0